body{
  display: flex;
  justify-content: center;
  align-items: center;
}
table td,th{
  justify-content: center;
  align-items: center;
  background: #e5e5ff;
  color: darkcyan;
  padding: 5px;
  margin-left: 35px;
  border: 1px solid #aaaaff;
}
