<div class="blueButton">current group: {{o.type}}</div>
<form [formGroup]="addProdForm" (ngSubmit)="add()">
  <label for="addName">Add name: </label>
  <input type="text" id="addName" placeholder="Add new Product" formControlName="name" class="form-control " required
         minlength="4">
  <label for="addPrice">Add price: </label>
  <input type="text" id="addPrice" placeholder="Add new Product price" formControlName="price" class="form-control "
         required minlength="2">
  <input type="submit" value="Add new" [disabled]="this.addProdForm.invalid">
</form>
<table>
  <tr>
    <th>Products:</th>
    <th>Price:</th>
    <th><input class="blueButton" value="Refresh" type="button" (click)="get()"></th>
  </tr>
  <tr *ngFor="let products of list">
    <td>{{products.name}}</td>
    <td>{{products.price}}</td>
    <input class="blueButton" type="button" value="View"  [routerLink]="products.id">
    <input class="blueButton" type="button" value="Delete" (click)="delProduct(products.id, products.type)">
  </tr>
</table>

<router-outlet></router-outlet>
